<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>education</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <listener>
    <listener-class>com.edu.test.TestSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>insertDept</servlet-name>
    <servlet-class>com.edu.emp.InsertDeptServ</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>1004</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertDept</servlet-name>
    <url-pattern>/InsertDeptServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insertDept</servlet-name>
    <url-pattern>/deptinsert</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/ErrorHandle</location>
  </error-page>
</web-app>